.footer {
  padding: 5em;
  background-color: #000000;
  color: #727272;
}

.footer__head {
  font-weight: 500;
  margin-bottom: 1em;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  text-decoration: underline;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
}

p {
  width: 20%;
  margin: 8px;
}

@media only screen and (max-width: 800px) {
  p {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  p {
    width: 40%;
  }
}

@media only screen and (max-width: 400px) {
  p {
    width: 50%;
  }
}

.choosLang {
  margin: 1em 0 1em 0;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 4px;
  border: 1px #333333 solid;
  width: 15%;
  padding: 0.5em;
}

.footer__bottom {
  font-weight: 400;
}
